<!DOCTYPE html>
<html>
<head>
    <title>{{ status }}</title>
</head>
<body>
<div align="center">
    <h2>{{ prod }} {{ version }} {% autoescape off %}{{ status_t }}{% endautoescape %}</h2>
    <table width="1000">
        <tr>
            <td width="30%" align="center">{{ prod }} {{ version }}</td>
            <td width="20%">用户：{{ user }}</td>
            <td width="30%">时间：{{ time }}</td>
            <td width="20%">状态：{% autoescape off %}{{ status_t }}{% endautoescape %}</td>
        </tr>
        <tr>
            <td colspan="4">
                <table width="100%">
                    <caption><h3>详细信息</h3></caption>
                    <thead>
                    <tr>
                        <th width="15%" align="center">模块</th>
                        <th width="45%" align="center">代码版本</th>
                        <th width="15%" align="center">编译状态</th>
                        <th width="15%" align="center">详细信息</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for build in builds %}
                        <tr>
                            <td align="center" style="border-right: 1px solid #000000;">
                                {% autoescape off %}{{ build.module }}{% endautoescape %}</td>
                            <td align="center" style="border-right: 1px solid #000000;">
                                {% autoescape off %}{{ build.rev }}{% endautoescape %}</td>
                            <td align="center" style="border-right: 1px solid #000000;">
                                {% autoescape off %}{{ build.status }}{% endautoescape %}</td>
                            <td align="center"><a href="{% autoescape off %}{{ build.detail }}{% endautoescape %}"
                                                  target="_blank">编译详情</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
